@using Pronia.Areas.Admin.ViewModels.Sizes

@model UpdateSizeVM

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Color</h4>
                <p class="card-description">
                    Basic form elements
                </p>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input asp-for="Name" class="form-control" id="SizeName" placeholder="Enter size name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a asp-action="index" class="btn btn-light">Nicat Gay</a>
                </form>
            </div>
        </div>
    </div>
</div>