@model string

      <!-- Begin Main Content Area -->
<div class="error-404-area section-space-y-axis-100"
     data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12 align-self-center">
                <div class="error-404-content">
                    <h2 class="title"><span>Oops,</span> @Model </h2>
                    <div class="button-wrap">
                        <a class="btn btn-error" asp-controller="home" asp-action="index">
                            Back to home
                            <i class="pe-7s-home"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Area End Here -->